/* _________________DEFAULT STYLING_______________*/
*{
    box-sizing: border-box;
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;

    margin: 0;
    display: grid;
    grid-template-columns: auto;
}
header,nav{
    padding: 16px;
    /* This will only align the text */
    text-align: center;
}
footer {
    padding: 16px;
}

/* _________________HEADER STYLING_______________*/
header {
    background-color: black;
    grid-template-rows: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

/* _________________NAV STYLING_______________*/
nav {
    font-size: x-large;
    background-color: #083734;
    grid-template-rows: 50px;
}
.navList{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navItem {
    margin: 0 10px;
    text-decoration: none;
}
.navItem a{
    text-decoration: none;
    color: white;
}
.navItem a:hover{
    color: #FC8A71;
}

/* _________________MAIN STYLING_______________*/
/* Home Page */
main{
    background-color: #045853;
}
.promotion img{
    width: 100%;
    height: 600px;
}
.productSection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    padding: 20px; 
}
.prod{
    background-color: white;
    padding: 5px 20px; 
    border-radius: 15px;
}
.prod:hover{
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}
.productSection img {
    width:100%; 
}
.btn{
    display: flex;
    justify-content: space-evenly;
}
button {
    background-color: #045853;
    color: white;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    font-size: 15px;
    align-items: end;
}
button:hover {
    cursor: pointer;
    background-color: #FC8A71;
    color: black;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

/* About Page */
article{
    display:flex;
    justify-content: space-between;
    padding: 20px;
}
.mariannaImg {
    width: 500px;
    border-radius: 800px;
    align-items: center;
    height: 100%;
}
.about {
    padding: 20px; 
    padding-top: 30px;
    color: white;
    align-items: center;
    height: 100%;
}
.about p {
    font-size: 20px;
    font-family: sans-serif; 
}

/* _________________FOOTER STYLING_______________*/

footer{
    background-color: lightcoral;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

